We will use the .value_counts() method of pandas DataFrames (actually, pandas Series) to count how many states use each of the unique county names

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Counties.csv')
df.head()

  State Postal  Unnamed: 1  County Number  FIPS Code County Name
0           AK   AK Alaska              1          0      Alaska
1           AK   AK Alaska           2001       2000      Alaska
2           AL  AL Alabama              1          0     Alabama
3           AL  AL Autauga           1001       1001     Autauga
4           AL  AL Baldwin           1002       1003     Baldwin

In [3]:
df.count()

State Postal     4639
Unnamed: 1       4639
County Number    4639
FIPS Code        4639
County Name      4639
dtype: int64

In [4]:
df = df.loc[df['FIPS Code'] !=0]
df.count()

State Postal     4588
Unnamed: 1       4588
County Number    4588
FIPS Code        4588
County Name      4588
dtype: int64

In [5]:
df['County Name'].value_counts()

Washington        33
Jefferson         28
Lincoln           28
Franklin          27
Jackson           26
Madison           23
Monroe            21
Union             20
Warren            20
Montgomery        20
Marion            18
Clay              18
Wayne             17
Grant             15
Greene            15
Lee               15
Hancock           13
Johnson           13
Carroll           13
Adams             13
Douglas           13
Clinton           12
Fayette           12
Crawford          12
Clark             12
Lawrence          12
Marshall          12
Lake              12
Randolph          12
Polk              12
                  ..
Keith              1
Waseca             1
Tuscaloosa         1
Schuylkill         1
Lynnfield          1
Fisher             1
Ozaukee            1
Croydon            1
Henniker           1
Levant             1
Castle Hill        1
Orangeburg         1
St. Tammany        1
Whatcom            1
Dixie              1
Baxter             1
West Hartford      1
Danby              1
Pine               1
Chicot             1
Rappahannock       1
Scarborough        1
Callahan           1
King and Queen     1
Dunstable          1
Keene              1
Jaffrey            1
Westmore           1
Massac             1
Brooke             1
Name: County Name, Length: 2739, dtype: int64