In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
%matplotlib inline
print(os.getcwd())

c:\Users\jmert\Documents\W&M\BUAD5112\M3

In [4]:
df = pd.read_csv('ConstructionTimeSeriesDatav2.csv')
df.head()

,Month,Month-Year,Total Construction,Private Construction,Public Construction
0,1,Jan-02,59516,45273,14243
1,2,Feb-02,58588,44475,14113
2,3,Mar-02,63782,49396,14386
3,4,Apr-02,69504,53283,16221
4,5,May-02,73384,55009,18375